*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header Section */
.navbar{
    background-image: linear-gradient(to right, #47b2e4, #37517e);
}
.navbar-nav .nav-item{
    padding: 10px;
    color: white;
}
.form-inline .btn{
    color: white;
    border-color: #47b2e4;
    border: 1 px solid;
    border-radius: 40px;
    font-family: "Jost", sans-serif;
    font-size: 17px;
    font-weight: 500;
    width: 150px;
}
.navbar-brand{
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Jost", sans-serif;
    padding-left: 60px;
}

.navbar-nav .nav-item a{
    font-size: 17px;
    font-weight: 500;
    color: #fff !important;
    font-family: "Jost", sans-serif;
    padding-left: 30px;

}
.form-inline .btn:hover{
    background-color:#47b2e4 ;
}
.navbar-toggler-icon{
    color: white !important;
}
.navbar-nav .nav-item a:hover{
    text-decoration: underline;
    color: #47b2e4 !important;
}

/* Banner Section */
.banner{
    background-image: linear-gradient(to right, #47b2e4, #37517e);
    width: 100%;
    height: 550px;
    z-index: -1;
}
.container-fluid{
    padding-top: 72px;
}
.banner .container-fluid .row h2{
    padding-top: 130px;
    padding-left: 60px;
    color: white;
    font-size: 38px;
    font-family: "Jost", sans-serif;

}
.banner .container-fluid .row h3{
    padding-left: 60px;
    color: rgba(255, 255, 255, 0.6);
    font-family: "Jost", sans-serif;
    padding-top: 20px;
}
.img-fluid {
    max-width: 100%;
    height: 420px;
    margin-top: 40px;
    margin-left: 50px;
} 
.btn-get-started {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px 0 0 0;
    color: #fff;
    background: #37517e;
    margin-left: 60px;
    margin-top: 20px;
    text-decoration: none;
}
.btn-get-started:hover{
    text-decoration: none;
    color: white;
}
.glightbox{
    color: white;
    padding-left: 20px;
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
}  
.glightbox:hover{
    text-decoration: none;
    color: white;
} 
/* About Section */

.about{
    padding: 60px;
}
.about-title{
    text-align: center;
    padding-bottom: 30px;
}
.about-title h2{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #37517e;
}
.about-title h2::before{
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}
.about-title h2::after{
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #47b2e4;
    bottom: 0;
    left: calc(50% - 20px);
} 
.about .row{
    font-size: 17.5px;
    font-family: "Jost", sans-serif;

}
.about .btn-learn-more{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 4px;
    transition: 0.3s;
    line-height: 1;
    color: #47b2e4;
    animation-delay: 0.8s;
    margin-top: 6px;
    border: 2px solid #47b2e4;
}
/* Why us Section */
.why-us{
    background-color: #f3f5fa;
    height: 550px;
}
.whyusimg-fluid {
    height: 450px;
    width: 430px;
}
.why-us .content{
    padding-left: 190px
}
.why-us h3{
    color: #37517e;
    font-size: 35px;
}
.why-us p{
    font-size: 17.5px;
    font-family: "Jost", sans-serif;
}
.accordion {
    font-size: 17.5px;
    font-family: "Jost", sans-serif;
}
/* Service Section  */
.service{
    padding: 60px;
}
.service-title{
    padding-top: 20px;
    text-align: center;
    padding-bottom: 30px;
}
.service-title h2{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #37517e;
}
.service-title h2::before{
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}
.service-title h2::after{
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #47b2e4;
    bottom: 0;
    left: calc(50% - 20px);
} 
.service-title p{
    font-size: 17.5px;
    font-family: "Jost", sans-serif;
}
.serbox .container-fluid{
    padding-top: 12px;
}
    
.serbox .row{
    display: flex;
    padding-left: 360px;
    position: relative;
    left: -180px;
}
.serbox .icon{
    color: #47b2e4;
    font-size: 30px;
    transition: 0.3s;
    padding-top: 20px;
    padding-bottom: 10px;
}
.serbox .icon-box{
    font-family: "Poppins", sans-serif;
    height: 220px;
    width: 270px;
    padding-left: 20px;
    margin-left: 10px;
    box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
    padding: 0px 30px;
    transition: all ease-in-out 0.4s;
    background: #fff;
}
.icon-box a{
    color: #37517e;
    text-decoration: none;
    font-weight: bold;
}

/* Team Section */
.team-title{
    padding-top: 20px;
    text-align: center;
    padding-bottom: 30px;
}
.team-title h2{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #37517e;
}
.team-title h2::before{
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}
.team-title h2::after{
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #47b2e4;
    bottom: 0;
    left: calc(50% - 20px);
} 
.team-title p{
    font-size: 17.5px;
    font-family: "Jost", sans-serif;
    text-align: center;
    padding-left: 120px;
    position: relative;
    left: -50px;
}
.team .member .pic{
    border-radius: 50%;
   
} 
.team .member {
    position: relative;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 5px;
    background: #fff;
    transition: 0.5s;
    height: 100%;
    width: 620px 
}
.teamimg-fluid{
    height: 130px;
    width: 130px;
    border-radius: 70px
}
.team .row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -95px;
    margin-left: -75px;

}
.team .member .member-info {
    padding-left: 30px;
}
.team .member h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #37517e;
}
.team .member span {
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
}
.team .member span::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: #cbd6e9;
    bottom: 0;
    left: 0;
}
.team .member p {
    margin: 10px 0 0 0;
    font-size: 14px;
}
.team .member .social {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.team .member .social a i {
    color: #37517e;
    font-size: 16px;
    margin: 0 2px;
}
.team .member .social a {
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    background: #eff2f8;
    text-decoration: none;
}
.team .member .social a+a {
    margin-left: 8px;
}

/* Contact Section */


.contact-title{
    padding-top: 50px;
    text-align: center;
    padding-bottom: 30px;
}
.contact-title h2{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #37517e;
}
.contact-title h2::before{
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}
.contact-title h2::after{
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #47b2e4;
    bottom: 0;
    left: calc(50% - 20px);
} 
.contact-title p{
    font-size: 17.5px;
    font-family: "Jost", sans-serif;
    text-align: center;
    padding-left: 120px;
    position: relative;
    left: -50px;
}
.align-items-stretch {
    align-items: stretch!important;
}
.contact .info {
    border-top: 3px solid #47b2e4;
    border-bottom: 3px solid #47b2e4;
    padding: 30px;
    background: #fff;
    width: 470px;
    margin-left: 300px;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
}
.contact .info i {
    font-size: 20px;
    color: #47b2e4;
    float: left;
    width: 44px;
    height: 44px;
    background: #e7f5fb;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}
.info h4 {
    font-size: 1.5rem;
}
.contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #37517e;
}
.contact .info p {
    padding: 0 0 10px 60px;
    margin-bottom: 20px;
    font-size: 18px;
    color: #6182ba;
}
.iframe{
    border: 0;
    width: 100%;
    height: 290px;
}
.contact .php-email-form {
    width: 790px;
    border-top: 3px solid #47b2e4;
    border-bottom: 3px solid #47b2e4;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
    margin-left: 10px;
}
.contact .php-email-form label {
    padding-bottom: 8px;
}

.contact .php-email-form input {
    height: 44px;
}
.contact .php-email-form .form-group {
    margin-bottom: 20px;
}
.contact .php-email-form textarea {
    padding: 10px 12px;
}
.text-center {
    text-align: center!important;
}
.contact .php-email-form button[type=submit] {
    background: #47b2e4;
    border: 0;
    padding: 12px 34px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
}
.footer{
    background-image: linear-gradient(to right, #47b2e4, #37517e);
    height: 90px;
    margin-top: 50px;
}
.footer .footer-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
}
.footer .copyright {
    margin-left: -190px;
    font-size: 20px;
}
.footer .credits {
    font-size: 20px;
    float: right;
    margin-top: -30px;
    margin-right: -190px;
}

    



    




/* Media Query */
@media only screen and (min-width: 320px) and (max-width:480px){
    .navbar-brand{
        padding-left: 20px;
        font-size: 25px;
    }
    .navbar-nav .nav-item{
        padding-left: 0px;
    }
    .banner{
        height: 650px;
        width:100%;

    }
    .img-fluid{
        height: 290px;
        margin-left: 0px;
    }
    .banner .container-fluid .row h2{
        padding-top: 0px;
        font-size: 28px;
        padding-left: 5px;
        text-align: center;

    }
    .banner .container-fluid .row h3{
       
        font-size: 20px;
        padding-left: 0px;
        text-align: center;
    }
    .btn-get-started {
        margin-left: 25px;
        width: 129px;
        font-size: 12px;
    }
    .glightbox{
        margin-left: -10px;
        font-size: 15px;
    }
    .whyusimg-fluid{
        height: 290px;
        margin-left: 0px;
        width: 310px;
       margin-top: -60px;
    }
    .why-us .content{
        padding-left: 20px;
    }
    .why-us h3{
        font-size: 25px;
    }
    .why-us{
        height: 1170px;
    }
    .serbox{
        padding-top: 60px;
        padding-left: 0px;
    }
    .serbox .row{
        margin-left: -250px;
        margin-top: -90px;
    }
    .serbox .container-fluid{
        width:100%;
        

    }
    .teamimg-fluid{
        height: 60px;
        width: 60px;
        margin-left: -20px;
        border-radius: 50px;
    }
    .team .member h4 {
        font-weight: 400;
        font-size: 15px;
    }
    .team .member {
        height: 230px;
        width: 290px;
        margin-left: 60px;
    }
    .contact .info{
        margin-left: 20px;
    }
    .contact .php-email-form{
        margin-left: 25px 
    }
    .contact .info h4{
        font-size: 20px;
    }
    .footer{
        width:100%;

    }
    .footer .copyright{
        margin-left: 10px;
        font-size: 15px;
    }
    .footer .credits{
        font-size: 15px;
        font-size: 15px;
        float: right;
        margin-right: 50px;
        margin-top: 0px;
    }
    
    
    } 
